.grid{
    width: 1000px;
    height: 740px;
    /* margin: auto; */
    background-color: rgb(7, 7, 7);
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    row-gap: 3px;
    column-gap: 3px;
    font-weight: 600;
    border: 3px solid black;
}

#header{
    background-color: aqua;
    grid-column: 1/ span 12;
}

#side{
    background-color: aqua;
    grid-row: 2 / span 10;
    grid-column: 1 / span 3;
    
}

#nav{
    background-color: aqua;
    grid-column: 4 / span 6;
}

#ads{
    background-color: aqua;
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
}

#main{
    background-color: aqua;
    grid-column: 4 / span 6;
    grid-row: 3 / span 9;
}

#foot{
    background-color: aqua;
    grid-column: 1/ span 12;
}

@media (max-width:720px){
    #header{
        grid-column: 1/ span 12;
    }
    
    #nav{
        grid-column: 1/ span 12;
    }
    #side{
        grid-row: 3 / span 9;
        grid-column: 1 / span 3;
        
    }
    
    #main{
        grid-row: 3 / span 9;
        grid-column: 4 / span 9;
    }
    
    #ads{
        grid-row: 12 / span 1;
        grid-column: 1 / span 3;
    }
    
    
    #foot{
        grid-row: 12 / span 1;
        grid-column: 4 / span 9;
    }
}