* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 700px;
    height: 350px;
    background-color: white;
    display: flex;
}

.left{
    height: 350px;
    width: 350px;
    background-color: rgb(102, 0, 102);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    color: white;
}

.right{
    height:350px;
    width: 350px;
}

.right img{
    height: 100%;
    width: 100%;
}

.card .left{
    padding: 30px;
}

.values{
    display: flex;
    justify-content: space-between;
}

.values p{
    font-size: 1.1rem;
}

.left p{
    font-size: 1.1rem;
}

.left h2{
    font-size: 1.7rem;
}