
#one{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color:rgb(38, 5, 248);
    color: rgb(5, 246, 246);
    border: 2px solid black;
    margin: 50px;
    transition-duration: 1s;
    box-shadow: 5px 5px  10px blue;

}

#two{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color:rgb(6, 244, 6);
    color: rgb(7, 7, 7);
    border: 2px solid black;
    margin: 50px;
    transition-duration: 1s;
    box-shadow: 5px 5px  10px rgb(6, 244, 6);
}
#three{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color:rgb(240, 8, 144);
    color: rgb(11, 11, 11);
    border: 2px solid black;
    margin: 50px;
    transition-duration: 1s;
    box-shadow: 5px 5px  10px rgb(240, 8, 144);
}

#four{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color:rgb(240, 240, 8);
    color: rgb(11, 11, 11);
    border: 2px solid black;
    margin: 50px;
    transition-duration: 1s;
    box-shadow: 5px 5px 10px rgb(240, 240, 8);
    
}
#one:hover{
    transform: scale(1.5);
}

#two:hover{
    transform: scale(1.5);
    
}
#three:hover{
    transform: scale(1.5);
    
}
#four:hover{
    transform: scale(1.5);
}

#one,#two,#three,#four{
    display: inline-block;
    
}