#face{
    width: 400px;
    height: 400px;
    background-color: rgb(250, 246, 2);
    margin: 150px auto ;
    border-radius: 50%;
    position: static;
    border: 2px solid black;
}

#left_eye{
    width: 80px;
    height: 80px;
    background-color: black;
    position: absolute;
    left: 610px;
    top: 260px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px black;
}

#right_eye{
    width: 80px;
    height: 80px;
    background-color: black;
    position: absolute;
    left: 790px;
    top: 260px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px black;
}

#mouth{
    width: 200px;
    height: 75px;
    background-color: black;
    position: absolute;
    left: 650px;
    top: 400px;
    border-radius:0px 0px 70px 70px;
    box-shadow: 6px 6px 10px black;
}

