body{
    font-family: Georgia;
    background-color: wheat;
}
p{
    font-family: Georgia;
    color: black;
    text-align: center;
    line-height: 30px;
}
h1{
    color: red;
    text-align: center;
    font-family: Georgia;
    text-decoration: underline;
}

h3{
    text-align: center;
    color: black;
    font-family: Georgia;
}

h4{
    text-align: center;
    font-family: Georgia;
    color: green;
    
}
a{
    text-decoration: none ;
}
button{
    text-align: center;
    background-color: white;
    color: blueviolet;
}

textarea{
    text-align: center;
}