div{
    height: 200px;
    width: 200px;
    background-color: rgb(10, 220, 248);
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#fixed{
    background-color: yellow;
    position: fixed;
    left: 100px;
    top: 100px;
    
}